#content

:coffee
  mmpApp.options =
    logo_path: "#{asset_path('logo.png')}"
    user:
      signed_in: #{user_signed_in?}
      name: "#{current_user.username if user_signed_in?}"
      id: "#{current_user.id if user_signed_in?}"
