$el_button_height: 2.5em

.el_button
  display: inline-block
  line-height: $el_button_height
  height: $el_button_height
  padding: 0 1.6em
  background: #3498db
  +border-radius(6px)
  color: #ffffff
  font-size: medium
  font-weight: bold
  +transition(background-color, 400ms)

  &, &:visited
    text-decoration: none

  &:hover, &:active
    text-decoration: none
    background: #2980b9

.el_button--danger
  background: #e74c3c

  &:hover, &:active
    background: #c0392b

.el_button--primary
  background: #1abc9c

  &:hover, &:active
    background: #16a085

.el_button--secondary
  background: #95a5a6
  font-weight: normal

  &:hover, &:active
    background: #7f8c8d

.el_field
  display: inline-block
  border: none
  outline: none
  border-bottom: 1px dashed grey
  background: #f8f8f8
  line-height: 1.5em
  height: 1.5em
  font-family: $def-font-family
  font-size: $def-font-size
  color: $def-font-color

.el_field--textarea
  height: 1.5em * 3
  resize: none

.el_label
  display: inline-block
  text-align: right
  vertical-align: top
  line-height: 1
